.collection {
    position: absolute;
    bottom: 1rem;
}

.collection:hover {
    text-decoration: underline;
}

.drawer {
    width: 100vw;
    height: calc(100vh - var(--desktop-header-height));
    background-color: rgba(33,33,33,0.53);
    position: absolute;
    left: 0;
    top: calc(var(--desktop-header-height) * -1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    padding: 1rem;
    transform: scaleY(0%);
    animation: fadeIn 0.5s forwards ease-in-out;
}

@keyframes fadeIn {
    from {
        top: calc(var(--desktop-header-height) * -2.75);
        transform: scaleY(0%);
    }
    to {
        top: var(--desktop-header-height);
        transform: scaleY(100%);
    }
}

@media screen and (max-width: 768px) {
    @keyframes fadeIn {
        from {
            top: calc(var(--mobile-header-height) * -2.75);
            transform: scaleY(0%);
        }
        to {
            top: var(--mobile-header-height);
            transform: scaleY(100%);
        }
    }
}
